In [2]:
import numpy as np 
import pandas as pd 
from sklearn import preprocessing
from sklearn.model_selection import train_test_split,GridSearchCV
from sklearn.linear_model import LogisticRegression
from tqdm.auto import tqdm
from sklearn.metrics import f1_score,make_scorer,classification_report,accuracy_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.preprocessing import StandardScaler
from scipy.stats import zscore

In [3]:
df=pd.read_csv('Train.csv')

In [4]:
df

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V45,V47,V50,V51,V52,V59,V63,V72,V75,class
0,0.0,1.0,243.0,29,4528.0,138.0,3.0,29,201.0,0.0,...,2,3,71.0,0,0,46.0,1,2,0,1
1,0.0,20.0,8.0,14,4183.0,183.0,4.0,26,156.0,0.0,...,5,7,20.0,0,2,13.0,9,6,0,1
2,14.0,2.0,2.0,9,1113.0,15.0,37.0,31,78.0,1.0,...,7,5,11.0,0,0,7.0,9,2,1,0
3,0.0,175.0,17.0,16,4250.0,68.0,8.0,30,152.0,0.0,...,1,3,0.0,1,1,31.0,6,4,5,1
4,2.0,-1.0,1.0,3,0.0,0.0,2.0,5,6.0,1.0,...,1,5,0.0,0,0,2.0,8,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40771,0.0,0.0,4.0,5,41928.0,1836.0,1.0,11,307.0,0.0,...,1,3,31.0,5,1,1.0,1,1,2,1
40772,1.0,90.0,6.0,5,1376.0,5.0,71.0,5,155.0,1.0,...,1,8,1.0,2,0,31.0,7,13,1,0
40773,0.0,2.0,10.0,35,1424.0,46.0,17.0,42,190.0,0.0,...,1,8,0.0,4,0,3.0,6,17,1,1
40774,1.0,22.0,1.0,1,0.0,0.0,1.0,1,8.0,1.0,...,8,5,0.0,1,0,0.0,6,3,2,0
40775,0.0,7.0,27.0,3,1946.0,74.0,2.0,5,7.0,0.0,...,1,8,0.0,1,0,9.0,8,4,6,1

In [12]:
df.isnull().sum()

V1       0
V2       0
V3       0
V4       0
V5       0
V6       0
V7       0
V8       0
V9       0
V10      0
V11      0
V13      0
V19      0
V22      0
V30      0
V33      0
V35      0
V36      0
V40      0
V41      0
V42      0
V43      0
V45      0
V47      0
V50      0
V51      0
V52      0
V59      0
V63      0
V72      0
V75      0
class    0
dtype: int64

feature_columns = df.columns[:-1]

### REMOVING OUTLIERS FROM THE DATASET

In [ ]:
feature_columns = df.columns[df.columns != 'class']
filtered_df = df[(np.abs(zscore(df[feature_columns])) < 5).all(axis=1)]

In [7]:
filtered_df

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V45,V47,V50,V51,V52,V59,V63,V72,V75,class
0,0.0,1.0,243.0,29,4528.0,138.0,3.0,29,201.0,0.0,...,2,3,71.0,0,0,46.0,1,2,0,1
1,0.0,20.0,8.0,14,4183.0,183.0,4.0,26,156.0,0.0,...,5,7,20.0,0,2,13.0,9,6,0,1
2,14.0,2.0,2.0,9,1113.0,15.0,37.0,31,78.0,1.0,...,7,5,11.0,0,0,7.0,9,2,1,0
3,0.0,175.0,17.0,16,4250.0,68.0,8.0,30,152.0,0.0,...,1,3,0.0,1,1,31.0,6,4,5,1
4,2.0,-1.0,1.0,3,0.0,0.0,2.0,5,6.0,1.0,...,1,5,0.0,0,0,2.0,8,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40770,0.0,12.0,3.0,6,1588.0,64.0,7.0,21,67.0,0.0,...,0,8,7.0,7,0,14.0,7,0,0,1
40772,1.0,90.0,6.0,5,1376.0,5.0,71.0,5,155.0,1.0,...,1,8,1.0,2,0,31.0,7,13,1,0
40773,0.0,2.0,10.0,35,1424.0,46.0,17.0,42,190.0,0.0,...,1,8,0.0,4,0,3.0,6,17,1,1
40774,1.0,22.0,1.0,1,0.0,0.0,1.0,1,8.0,1.0,...,8,5,0.0,1,0,0.0,6,3,2,0
40775,0.0,7.0,27.0,3,1946.0,74.0,2.0,5,7.0,0.0,...,1,8,0.0,1,0,9.0,8,4,6,1

In [8]:
y=filtered_df["class"]
x=filtered_df.iloc[:,:-1]

In [9]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3)

In [10]:
scaler=preprocessing.StandardScaler()

In [457]:
x_train=scaler.fit_transform(x_train)

In [458]:
x_train=pd.DataFrame(x_train,columns=x.columns)

In [459]:
lg=LogisticRegression()

In [460]:
lg.fit(x_train,y_train)

LogisticRegression()

In [461]:
y_pred=lg.predict(x_test)

In [462]:
df.columns

Index(['V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10', 'V11',
       'V13', 'V19', 'V22', 'V30', 'V33', 'V35', 'V36', 'V40', 'V41', 'V42',
       'V43', 'V45', 'V47', 'V50', 'V51', 'V52', 'V59', 'V63', 'V72', 'V75',
       'class'],
      dtype='object')

In [463]:
f1_score(y_test,y_pred)

0.6752975569012319

In [464]:
test=pd.read_csv('Test.csv')

In [465]:
Index=test['Index']
test.drop(['Index'],axis=1,inplace=True)

In [466]:
test

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V43,V45,V47,V50,V51,V52,V59,V63,V72,V75
0,3.0,97.0,2.0,3,475.0,23.0,11.0,10,146.0,1.0,...,123.0,1,8,0.0,0,1,5.0,6,14,0
1,7.0,29.0,11.0,10,8.0,2.0,11.0,16,19.0,2.0,...,26.0,1,8,2.0,4,1,45.0,6,2,26
2,2.0,9.0,5.0,1,1003.0,29.0,2.0,29,54.0,1.0,...,10.0,1,5,35.0,1,1,6.0,6,2,3
3,0.0,0.0,22.0,17,1527.0,28.0,4.0,24,28.0,0.0,...,95.0,8,8,1.0,2,1,15.0,8,1,3
4,13.0,-1.0,46.0,6,4.0,5.0,16.0,15,22.0,1.0,...,30.0,5,8,13.0,1,1,5.0,6,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17471,5.0,8.0,2.0,17,1025.0,114.0,5.0,17,49.0,1.0,...,1835.0,1,8,0.0,9,0,3.0,6,2,1
17472,1.0,22.0,4.0,10,1.0,7.0,7.0,10,50.0,1.0,...,65.0,5,0,0.0,0,0,2.0,2,2,1
17473,2.0,66.0,4.0,6,1025.0,38.0,2.0,38,38.0,1.0,...,104.0,1,8,0.0,9,0,1.0,7,1,7
17474,1.0,944.0,6.0,6,1084.0,6.0,14.0,23,68.0,1.0,...,2.0,5,8,19.0,10,2,0.0,7,2,0
17475,2.0,100.0,9.0,1,1.0,0.0,2.0,1,1.0,1.0,...,2.0,1,10,32.0,3,1,0.0,4,1,2

In [468]:
result=lg.predict(test)

In [469]:
result

array([1, 0, 1, ..., 1, 1, 0], dtype=int64)

In [470]:
result = pd.DataFrame({
    'Index': Index,
    'class': result
})

In [471]:
result

       Index  class
0      40977      1
1      24157      0
2      56238      1
3      55411      1
4      53175      1
...      ...    ...
17471  17197      1
17472  14094      0
17473  34598      1
17474  17845      1
17475  11574      0

[17476 rows x 2 columns]

In [472]:
result.to_csv("submission388.csv", index=False)